body {
  background-image: url(../Img/background1.png);
  background-repeat: no-repeat;
  
}

#board {
background-image: url(../Img/board.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
width: 100vw;
height: 100vh;
position: flex;
background-size: contain;
}
  
#rock {
  background-image: url(../Img/rock-60x40.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
 
}

.obstacle {
  background-image: url(../Img/obstacle.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}


#game-over {
  background-image: url(../Img/game-over.gif);
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button {
  position: relative;
  text-align: center;
  margin: auto;
  display: grid;
}


