body {
  background-image: url(/Img/background1.png);
}

#board {
  background-image: url(/Img/board.png);
width: 800px;
height: 500px;
background-position: center 100%;
background-position-x: center;
position: relative;
}
  
#rock {
  background-image: url(/Img/rock-40px.png);
  position: relative;
}

.obstacle {
  background-color: white;
  position: absolute;
}

