body {
  background-color: #152840;
  margin: 0;
  padding:0;
}

#board {
width: 800px;
height: 500px;
background-position: center 100%;
background-position-x: center;
position: absolute
}
  
#rock {
  background-image: url(/Img/rock.png);
  position: absolute;
}

#obstacle {
  background-color: blueviolet;
  position: absolute;
}